<!DOCTYPE html>
<html>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="{{ url_for('static',filename='app.js') }}"> </script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
    <div class="img"></div>
    <div class="container">
        <button class="btn-grad" onclick="getBotResponse()">Click me to open the canvas !!!!</button>
    </div>
    <script>
        function getBotResponse() {
            sendResponse();
        }
    </script>
    

</body>

</html>